* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image:url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'outfit';
}

main {
    width: 350px;
    background-color: white;
    border-radius: 15px;
}

.illustration {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card-title {
    font-family: "Red Hat Display";
    font-size: 28px;
    font-weight: 900;
    color:  hsl(223, 47%, 23%);
}

.summary {
    font-size: 18px;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.music-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    padding: 15px;
}

.music-logo-plan {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.annual-plan-text {
    font-weight: 700;
    color:  hsl(223, 47%, 23%);
    font-family: "Red Hat Display";
}

.price-text {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    font-family: "Red Hat Display";
}

.change-word {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
}

.change-word:hover {
    color: hsl(245, 83%, 68%);
    text-decoration: none;
    cursor: pointer;
}

button {
    width:100%;
    height: 50px;
    font-family: "Red Hat Display";
    font-weight: 700;
    color: white;
    background-color:hsl(245, 75%, 52%) ;
    border-radius: 10px;
    border: 1px solid hsl(245, 75%, 52%);
    box-shadow: 2px 5px 15px hsl(224, 23%, 55%);;
}

button:hover {
    background-color:hsl(245, 83%, 68%);
    cursor: pointer;
    border:1px solid hsl(245, 83%, 68%);
}

.cancel-statement {
    font-size: 16px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.cancel-statement:hover {
    color: black;
    cursor: pointer;
}

@media(min-width:500px) {
    body {
        margin-top: 100px;
        background-image: url('images/pattern-background-desktop.svg');
    }
}